.input {
  display: block;
  margin: 10px;
}

.textarea {
  height: 100px;
  width: 40%;
}

.education-container {
  border: 1px solid black;
}

.edu-div {
  position: relative;
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title-date {
  position: relative;
}

.title-date p {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.edu-highlights {
  margin-left: 10px;
}
.edu-school {
  font-style: italic;
}

.edit-btn {
  position: absolute;
}
