.general-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.general-info-input {
  margin: 5px;
}

h1,
p {
  margin: 0;
}

.edit-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
